$primary-color: #3498db;
$secondary-color: #2ecc71;
$text-color: #333;
$font-family: 'Arial', sans-serif;
$padding: 10px;

$text-white: white;

body {
    font-family: $font-family;
    color: $text-color;
    margin: 0;
}

.header {
    background-color: $primary-color;
    color: $text-white;
    padding: $padding;
}

.card {
    border: 2px solid $primary-color;
    padding: $padding;
    margin-bottom: $padding;
    background-color: $text-white;
}

.button {
    background-color: $secondary-color;
    color: $text-white;
    padding: $padding;
    border: none;
}

