table caption {
    caption-side: top;
    font-size: 30px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding: 20px;
}

table {
    text-transform: uppercase;
    border-collapse: separate;
    border-spacing: 2px;
    table-layout: fixed;
    width: 100%;
    empty-cells: hide;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

table, td, tr, th {
    border: 2px solid black;
    padding: 10px;
}

.fila_par {
    background-color: lightblue;
}

.recreo {
    background-color: lightcoral;
    font-weight: bold;
}

thead {
    background-color: lightcoral;
}