body {
  background-color: lightblue;
}

.primera_seccion {
  margin: 10px;
  padding: 20px;
  background-color: aqua;
  border: 1px solid red;
}

.segunda_seccion {
  margin: 10px;
  padding-top: 10px;
  padding-right: 15px;
  padding-bottom: 20px;
  padding-left: 25px;
  background-color: aquamarine;
  border: 1px solid green;
}

.tercera_seccion {
  margin: 10px;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-right: 50px;
  padding-left: 50px;
  background-color: lightcoral;
  border: 1px solid yellow;
}

button {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: blue;
  border: 3px solid blue;
  background-color: yellow;
  font-size: 30px;
  padding: 40px;
}
