ol.tareas {
    list-style-type: decimal-leading-zero;
    list-style-position: inside;
    color: #036;
}

ul.materiales {
    list-style-type: square;
    list-style-position: outside;
    color: #2a7a1f;
}

