.primera-seccion {
    border: 3px dotted blue;
    margin: 20px;
    padding: 10px;
}

.segunda-seccion {
    border-top: 5px;
    border-right: 10px;
    border-bottom: 15px;
    border-left: 20px;
    border-style: solid;
    border-color: green;
    margin: 20px;
    padding: 10px;
}

.boton {
    border: 4px double red;
    border-radius: 15px;
    margin: 20px;
    padding: 10px;
}