body {
    margin: 10px;
    padding: 15px;
}

.primera_seccion {
    outline-style: dashed;
    outline-color: red;
}

.segunda_seccion {
    outline: 5px solid green;
}

.tercera_seccion {
    outline-offset: 10px;
    outline-style: solid;
    outline-color: blue;
}