* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  height: 100%;
  font-family: Arial, sans-serif;
  background-color: cadetblue
}

.layout {
  display: grid;
  grid-template-rows: auto 1fr auto;
  height: 100vh;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: antiquewhite;
  color: black;
}

.nav ul {
  display: flex;
  gap: 20px;
  list-style: none;
}

.nav a {
  color: black;
  text-decoration: none;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  padding: 40px;
}

.card {
  width: 200px;
  height: 150px;
  background-color: antiquewhite;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

.footer {
  display: flex;
  justify-content: space-between;
  padding: 15px 20px;
  background-color: antiquewhite;
  color: black;
}
