.contenedor {
    display: flex;
    justify-content: center; 
    align-items: center;     
    height: 100vh;
    background-color: #f0f0f0;
}

.caja {
    width: 200px;
    height: 100px;
    background-color: #f8ea20;
    color: rgb(0, 17, 255);
    display: flex;
    border: 2px solid rgb(0, 17, 255);
    justify-content: center;
    align-items: center;
    font-size: 18px;
}
