.content {
    padding: $padding-base;
    background-color: $color-fondo-content;

    color: $color-negro;
    font-family: $font-family;
    font-size: $font-size-content;

    p {
        margin-bottom: 20px;
    }

    h2 {
        margin-top: 30px;
    }
}