$font-family: 'Arial', sans-serif;
$padding-base: 20px;

$color-principal: #333;
$color-secundario: #555;
$color-blanco: white;
$color-negro: black;
$color-fondo-content: #f4f4f4;

$font-size-header: 24px;
$font-size-menu: 18px;
$font-size-content: 16px;
