.menu {
    display: flex;
    justify-content: space-around;
    align-items: center;          
    height: 60px;
    background-color: #333;
}

.menu a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    padding: 10px 20px;
}
